# Importing

In [2]:
# Importing libraries (pandas, numpy, os)
import pandas as pd
import numpy as np
import os

In [3]:
#Folder path
path = r'C:\Users\Lucero\Documents\Instacart Basket Analysis\02 Data'

In [4]:
# Importing 'orders_products_merged.pkl'
df_orders_products_merged = pd.read_pickle(os.path.join(path, 'Prepared Data', 'orders_products_merged.pkl'))

# exercise

In [5]:
df_orders_products_merged.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [6]:
df = df_orders_products_merged[:1000000]

# 1. If-Statement

In [7]:
# Row is standard argument looking at each row within DataFrame

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [8]:
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\Lucero\AppData\Local\Temp\ipykernel_21944\2848743372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [9]:
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [10]:
df['prices'].max()

14.8

# 2. If-statement using loc()

In [11]:
df_orders_products_merged.loc[df_orders_products_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [12]:
df_orders_products_merged.loc[(df_orders_products_merged['prices'] <= 15) & (df_orders_products_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [13]:
df_orders_products_merged.loc[df_orders_products_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [14]:
df_orders_products_merged['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

# (fixing charts)

In [16]:
df_orders_products_merged.drop(columns = ['eval_set'])

,Unnamed: 0,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc
0,0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product
1,1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product
2,2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product
3,3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product
4,4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,3360493,1320836,202557,17,2,15,1.0,43553,2,1,Orange Energy Shots,64,7,3.7,both,Low-range product
32404855,3360494,31526,202557,18,5,11,3.0,43553,2,1,Orange Energy Shots,64,7,3.7,both,Low-range product
32404856,3376038,758936,203436,1,2,7,NaN,42338,4,0,"Zucchini Chips, Pesto",50,19,6.9,both,Mid-range product
32404857,3376039,2745165,203436,2,3,5,15.0,42338,16,1,"Zucchini Chips, Pesto",50,19,6.9,both,Mid-range product
32404858,3408036,3093936,205420,1,4,14,NaN,28818,8,0,Hot Oatmeal Multigrain Raisin,130,14,10.3,both,Mid-range product

In [17]:
df_orders_products_merged.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

In [18]:
df_orders_products_merged.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product
2,2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product
4,4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product

# 3. If-statements using For-Loops

In [19]:
df_orders_products_merged['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [20]:
result = []

In [22]:
for value in df_orders_products_merged["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [23]:
df_orders_products_merged['busiest_day'] = result

In [24]:
df_orders_products_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

In [25]:
len(result)

32404859

In [26]:
df_orders_products_merged.shape

(32404859, 18)

# TASK 4.7

In [ ]:
# 1) If you haven’t done so already, complete the instructions in the Exercise for creating the “price_label” and “busiest_day” columns.

DONE

In [ ]:
# 2) Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days”.

In [27]:
labeling_counts = df_orders_products_merged['orders_day_of_week'].value_counts(dropna = False)

In [28]:
labeling_counts

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [29]:
labeling_counts.index

Int64Index([0, 1, 6, 2, 5, 3, 4], dtype='int64')

In [ ]:
# In this case it's the day number and sorted (ascending), there are 2 busiest days and 2 slowest days, I'll use that as a comparison for day labeling when converting it to a list.

In [30]:
day_number = list(labeling_counts.index)

In [31]:
day_number

[0, 1, 6, 2, 5, 3, 4]

In [32]:
results = []

In [33]:
for value in df_orders_products_merged['orders_day_of_week']:
    if value == day_number[0] or value == day_number[1]:
        results.append('Busiest days')
    elif value == day_number[len(day_number) - 1] or value == day_number[len(day_number) - 2]:
        results.append('Slowest days')
    else:
        results.append('Regulary busy days')

In [34]:
len(results)

32404859

In [35]:
df_orders_products_merged['orders_day_of_week'].shape

(32404859,)

In [36]:
df_orders_products_merged['busiest_days'] = results

In [ ]:
# 3) Check the values of this new column for accuracy. Note any observations in markdown format.

In [37]:
df_orders_products_merged['busiest_days'].value_counts(dropna = False)

Regulary busy days    12916111
Busiest days          11864412
Slowest days           7624336
Name: busiest_days, dtype: int64

In [ ]:
# 4) When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [38]:
# Converting frequency into dictionary
dict_labeling_counts = df_orders_products_merged['order_hour_of_day'].value_counts(dropna = False).to_dict()

In [39]:
dict_labeling_counts

{10: 2761760,
 11: 2736140,
 14: 2689136,
 15: 2662144,
 13: 2660954,
 12: 2618532,
 16: 2535202,
 9: 2454203,
 17: 2087654,
 8: 1718118,
 18: 1636502,
 19: 1258305,
 20: 976156,
 7: 891054,
 21: 795637,
 22: 634225,
 23: 402316,
 6: 290493,
 0: 218769,
 1: 115700,
 5: 87961,
 2: 69375,
 4: 53242,
 3: 51281}

In [40]:
list_quantile = list(df_orders_products_merged['order_hour_of_day'].value_counts(dropna = False).quantile([0.75, 0.5, 0.25]))

In [41]:
list_quantile

[2556034.5, 1117230.5, 272562.0]

In [42]:
results_labeling_hour = []

In [43]:
for value in df_orders_products_merged['order_hour_of_day']:
    for key, val in dict_labeling_counts.items():
        if value == key:
            if val < list_quantile[2]:
                results_labeling_hour.append('Fewest orders')
            elif val >= list_quantile[2] and val < list_quantile[1]:
                results_labeling_hour.append('Average orders')
            elif val >= list_quantile[1]:
                results_labeling_hour.append('Most orders')

In [44]:
# Function to check the list before merging it with the DataFrame
def labeling_result (x):
    most_orders = x.count('Most orders')
    average_orders = x.count('Average orders')
    fewest_orders = x.count('Fewest orders')
    
    print(f'Most orders: {most_orders}')
    print(f'Average orders: {average_orders}')
    print(f'Fewest orders: {fewest_orders}')
    print(f'Total: {most_orders + average_orders + fewest_orders}')

In [45]:
labeling_result(results_labeling_hour)

Most orders: 27818650
Average orders: 3989881
Fewest orders: 596328
Total: 32404859

In [46]:
df_orders_products_merged['order_hour_of_day'].shape

(32404859,)

In [47]:
# Since both length corresponds to each other, we can integrate it into 'df_orders_products_merged'.
df_orders_products_merged['busiest_period_of_day'] = results_labeling_hour

In [ ]:
# 5) Print the frequency for this new column

In [48]:
df_orders_products_merged['busiest_period_of_day'].value_counts(dropna = False)

Most orders       27818650
Average orders     3989881
Fewest orders       596328
Name: busiest_period_of_day, dtype: int64

In [ ]:
# 7) Export your dataframe as a pickle file (since you added new columns) and store it correctly in your “Prepared Data” folder

In [49]:
# Exporting
df_orders_products_merged.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_merged_update.pkl'))